div {
  display: table;
  float: right;
  width: 45px;
  height: 20px;
  border-radius: 24px;
  overflow: hidden;
  text-align: center;
  &.choice_quiz {
    background-color: #1dc4e9;
  }
  &.sentence_quiz {
    background-color: #e53d5e;
  }
  div {
    display: table-cell;
    vertical-align: middle;
    p {
      margin: auto;
      font-family: "SpoqaHanSans";
      font-size: 10px;
      font-weight: 300;
      color: #ffffff;
    }
  }
}