$purpleish-pink: #e53da3;
div {
  //min-height: 500px;
  text-align: center;
  #popup-text {
    position: relative;
    height: 24px;
    font-family: "NotoSansCJKkr";
    font-size: 16px;
    font-weight: bold;
    top: 8px;
    margin-left: 8px;
    color: #dedede;
    text-align: left;
  }
  #paragraph1 {
    font-family: "SpoqaHanSans";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #9e9e9e;
  }
  #actions {
    text-align: center;
    background-color: white;
    border-top: 0;
    button {
      margin-top: 42px;
      margin-bottom: 0px;
      width: 145px;
      height: 48px;
      border-radius: 5px;
      font-family: "SpoqaHanSans";
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.2px;
      text-align: center;
      border-top: 0;
      &.ok {
        color: #ffffff;
        background-image: linear-gradient(252deg, #e53d59, $purpleish-pink);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      }
      &.cancel {
        color: #aaaeb3;
        border: solid 1px #c6cacf;
      }
    }
  }
}
