<div id="{{id}}" class="ui modal">
  <i class="close icon"></i>
  <div class="ui form">
    <div id="popup-text">
      <p>퀴즈 생성</p>
    </div>
    <div id="quiz-type">
      <button class="ui button" [ngClass]="quizType == eQuizType.CHOICE_QUIZ ? 'choice-quiz' : 'not-selected'" (click)="quizType=eQuizType.CHOICE_QUIZ">객관식</button>
      <button class="ui button" [ngClass]="quizType == eQuizType.SENTENCE_QUIZ ? 'sentence-quiz' : 'not-selected'" (click)="quizType=eQuizType.SENTENCE_QUIZ">주관식</button>
    </div>
    <div [hidden]="quizType != eQuizType.CHOICE_QUIZ" id="choice-quiz-field" class="field">
      <textarea #choiceQuizTitle class="write-quiz" placeholder="문제를 입력해주세요."></textarea>
      <input #choiceQuizAnswer type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input #choiceQuizAnswer type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input #choiceQuizAnswer type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input #choiceQuizAnswer type="text" class="write-answer" placeholder="답을 입력해주세요.">
    </div>
    <div [hidden]="quizType != eQuizType.SENTENCE_QUIZ" id="sentence-quiz-field" class="field">
      <textarea #sentenceQuizTitle class="write-quiz" placeholder="문제를 입력해주세요."></textarea>
      <textarea #sentenceQuizAnswer class="write-answer" placeholder="답을 입력해주세요."></textarea>
    </div>
  </div>
  <div id="actions" class="actions">
    <button class="ui greeny-blue button ok">생성</button>
  </div>
</div>
