<div id="popup-add-quiz" class="ui modal">
  <i class="close icon"></i>
  <div class="ui form">
    <div id="popup-text">
      <p>퀴즈 생성</p>
    </div>
    <div id="quiz-type">
      <button class="ui button" [ngClass]="quizType == 0 ? 'choice-quiz' : 'not-selected'" (click)="quizType=0">객관식</button>
      <button class="ui button" [ngClass]="quizType == 1 ? 'sentence-quiz' : 'not-selected'" (click)="quizType=1">주관식</button>
    </div>
    <div *ngIf="quizType == 0" id="choice-quiz-field" class="field">
      <textarea class="write-quiz" placeholder="문제를 입력해주세요."></textarea>
      <input type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input type="text" class="write-answer" placeholder="답을 입력해주세요.">
      <input type="text" class="write-answer" placeholder="답을 입력해주세요.">
    </div>
    <div *ngIf="quizType == 1" id="sentence-quiz-field" class="field">
      <textarea class="write-quiz" placeholder="문제를 입력해주세요."></textarea>
      <textarea class="write-answer" placeholder="답을 입력해주세요."></textarea>
    </div>
  </div>
  <div id="actions" class="actions">
    <button class="ui greeny-blue button ok">생성</button>
  </div>
</div>
