<div id="popup-add-quiz" class="ui modal">
  <i class="close icon"></i>
  <div class="ui form">
    <div id="popup-text">
      {{title}}
    </div>
    <div class="field">
      <textarea id="write-quiz">문제 작성</textarea>

      <select id="choose-type" class="ui dropdown">
        <option value="">문제타입선택</option>
        <option value="1">객관식</option>
        <option value="2">주관식</option>
        <option value="3">자유형</option>
      </select>

      <textarea id="write-answer">답안 작성</textarea>
    </div>
  </div>

  <button class="ui greeny-blue button">text</button>
</div>
