@import '../../../variables';

#head {
  width: 100vw;
  height: 48px;
  max-width: 750px;
  position: fixed;
  top: 0px;
  white-space: nowrap;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
  >#menu {
    min-height: 48px;
    >#logo {
      width: 64px;
      height: 18px;
      font-size: 16px;
      font-weight: 900;
      font-family: 'NotoSansCJKkr';
      color: $aqua-marine;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    >#power {
      justify-content: flex-end;
    }
  }
}

.ui.vmini.image {
  margin-right: .3rem;
  margin-left: .3rem;
  width: 20px;
}
