<div id="head">
  <div id="menu" class="ui top menu borderless three column grid">
    <div class="item four wide column">
      <!--
      <img class="ui vmini image" src="/assets/user.svg">홍길동 님
      -->
    </div>
    <div id="logo" class="item eight wide column align">
      <img class="ui image" src="/assets/exquizlogo.svg">
    </div>
    <div id="power" class="item four wide column">
      <!--
      <img class="ui vmini image" src="/assets/power.svg">
      -->
    </div>
  </div>
</div>
