<div id="head">
  <div id="menu" class="ui top menu borderless three column grid">
    <div class="item four wide column">
      <p class="name" *ngIf="name">{{name}} 님&#9786;</p>
      <!--
      <img class="ui vmini image" src="/assets/user.svg">홍길동 님
      -->
    </div>
    <div id="logo" class="item eight wide column align" (click)="gotoHomePage()">
      <img class="ui image" src="/assets/logo.svg">
    </div>
    <div id="power" class="item four wide column">
      <!--
      <img class="ui vmini image" src="/assets/power.svg">
      -->
    </div>
  </div>
</div>
