<div id="minicon">
  페이지 바로가기 버튼
  <br/>
  <button class="ui black button" [routerLink]="['']">메인페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/login']">로그인 페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/select_quiz']">퀴즈선택 페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/start_solve_quiz',0]">퀴즈풀이시작 페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/solve_quiz']">퀴즈풀이 페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/ranking',0]">랭킹 페이지</button>
  <br/>
  <button class="ui black button" (click)="modalAddQuiz()">퀴즈 생성 팝업 띄우기</button>
  <popup-add-quiz></popup-add-quiz>
  <br/>
  <button class="ui black button" (click)="modalDelQuiz()">퀴즈 삭제 팝업 띄우기</button>
  <popup-del-quiz></popup-del-quiz>
  <br/>
  <button class="ui black button" (click)="modalShareQuiz()">퀴즈 공유 팝업 띄우기</button>
  <popup-share-quiz></popup-share-quiz>
  <br/>
  <button class="ui black button" (click)="modalSubmitResult()">결과 전송 팝업 띄우기</button>
  <popup-submit-result></popup-submit-result>
  <br/>
</div>
