<div id="minicon">
  페이지 바로가기 버튼
  <br/>
  <button class="ui black button" [routerLink]="['/home']">메인페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/login']">로그인 페이지</button>
  <br/>
  <button class="ui black button" [routerLink]="['/select_quiz']">퀴즈선택 페이지</button>
  <br/>
  <button class="ui black button" (click)="modalAddQuiz()">퀴즈 생성 팝업 띄우기</button>
  <popup-add-quiz></popup-add-quiz>
  <br/>
  <button class="ui black button" (click)="modalDelQuiz()">퀴즈 삭제 팝업 띄우기</button>
  <popup-del-quiz></popup-del-quiz>
</div>
