#head {
  width: 100vw;
  max-width: 800px;
  position: fixed;
  top: 0px;
  white-space: nowrap;
  z-index: 1;
}

#logo {
  color: blue;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
}

#power {
  justify-content: flex-end;
}

.ui.vmini.image {
  margin-right: .3rem;
  margin-left: .3rem;
  width: 24px;
}
