.body {
  max-width: 100%;
  width: 100%;
  position: fixed;
}

div.menu {
  min-width: 320px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

a.item.logo {
  color: blue;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
}
