<top-menu></top-menu>
<div id="precontent"></div>
<div id="content">
  <!--
  <div id="checkedQuizPanel" *ngIf="countOfCheckedQuiz != 0" [@quizCheckPanelAnimation]>
    <button class="" (click)="modalDelQuiz()">삭제하기</button>
    <button class="" (click)="shareCheckedQuiz()">공유하기</button>
  </div>
-->
  <div class="no-quiz" *ngIf="quizzes?.length == 0">
    <p>
      아직 생성된 문제가 없어요!<br/> 친구들과 나누고 싶은 문제를<br/> 만들어보세요 :-)
    </p>
  </div>
  <div class="ui raised segment quiz" *ngFor="let quiz of quizzes; let i = index">
    <div class="ui checkbox">
      <input type="checkbox" name="example" (change)="checkQuiz($event.target.checked, quiz, i)">
      <label>
          {{ quiz.title }}
        </label>

    </div>
    <a class="btn-quiz-detail" (click)="delQuiz($event, i)"><img class="ui image" src="/assets/icon_trashcan.svg"></a>
    <tag-quiztype [quiz-type]="quiz.type"></tag-quiztype>
  </div>
</div>
<div id="postcontent"></div>
<div id="bottom_button">
  <div>
    <button [@extendBottomButton]="extendBottomButton" (click)="toggleBottomButtons()" class="circular ui icon button toggle">
        <i class="icon toggle"></i>
      </button>
    <button [@extendBottomButton-addQuiz]="extendBottomButton" (click)="modalAddQuiz()" class="circular ui icon button">
      <i class="icon add-quiz"></i>
      </button>
    <button [@extendBottomButton-delQuiz]="extendBottomButton" (click)="modalDelQuiz()" class="circular ui icon button">
        <i class="icon del-quiz"></i>
      </button>
    <button *ngIf="countOfCheckedQuiz != 0" [@extendBottomButton-shareQuiz]="extendBottomButton" (click)="modalShareQuiz()" class="circular ui icon button">
        <i class="icon share-quiz"></i>
      </button>
  </div>
</div>
<popup-add-quiz (ok)="addQuiz($event)"></popup-add-quiz>
<popup-del-quiz (ok)="delCheckedQuiz()"></popup-del-quiz>
<popup-share-quiz (ok)="shareQuiz($event)"></popup-share-quiz>
