<app-top-menu></app-top-menu>
<div id="precontent"></div>
<div id="content">
  <div id="checkedQuizPanel" *ngIf="countOfCheckedQuiz != 0" [@quizCheckPanelAnimation]>
    <button class="" (click)="modalDelQuiz()">삭제하기</button>
    <button class="" (click)="shareCheckedQuiz()">공유하기</button>
  </div>
  <div class="no-quiz" *ngIf="quizzes?.length == 0">
    <p>
      아직 생성된 문제가 없어요!<br/> 친구들과 나누고 싶은 문제를<br/> 만들어보세요 :-)
    </p>
  </div>
  <div class="ui raised segment quiz" *ngFor="let quiz of quizzes; let i = index">
    <div class="ui checkbox">
      <input type="checkbox" name="example" (change)="checkQuiz($event.target.checked, quiz, i)">
      <label>
          {{ quiz.title }}
        </label>

    </div>
    <a class="btn-quiz-detail" (click)="quizDetail($event, i)"><img class="ui image" src="/assets/quiz-detail.svg"></a>
  </div>
</div>
<div id="postcontent"></div>
<div id="bottom_button">
  <div>
    <button (click)="delQuiz()" class="circular ui icon button">
      <i class="icon del-quiz"></i>
    </button>
    <button (click)="modalAddQuiz()" class="circular ui icon button">
      <i class="icon add-quiz"></i>
    </button>
  </div>
</div>
<popup-add-quiz (ok)="addQuiz($event)"></popup-add-quiz>
<popup-del-quiz (ok)="delQuiz()"></popup-del-quiz>
