<top-menu></top-menu>
<div id="precontent"></div>
<div id="content">
  <!--
  <div id="checkedQuizPanel" *ngIf="countOfCheckedQuiz != 0" [@quizCheckPanelAnimation]>
    <button class="" (click)="modalDelQuiz()">삭제하기</button>
    <button class="" (click)="shareCheckedQuiz()">공유하기</button>
  </div>
-->
  <div class="no-quiz" *ngIf="quizzes?.length == 0">
    <p>
      아직 생성된 문제가 없어요!<br/> 친구들과 나누고 싶은 문제를<br/> 만들어보세요 :-)
    </p>
  </div>
  <div class="ui raised segment quiz" *ngFor="let quiz of quizzes; let i = index">
    <div (click)="expandQuiz(quiz)">
      <div class="ui checkbox">
        <input type="checkbox" name="example" (change)="checkQuiz($event.target.checked, quiz, i)" (click)="stopPropagation($event)">
        <label>
          {{ quiz.title.length > 30 ? quiz.title.substr(0,30) + "..." : quiz.title }}
        </label>

      </div>
      <a class="btn-del-quiz" (click)="delQuiz($event, i)"><img class="ui image" src="/assets/icon_trashcan.svg"></a>
      <tag-quiztype [quiz-type]="quiz.type"></tag-quiztype>
    </div>
    <div *ngIf="quiz.expandShowAnswer">
      <div class="choice-answer" *ngIf="quiz.type == eQuizType.CHOICE_QUIZ">
        <div class="ui input">
          <input class="correct" readonly type="text" value="{{quiz.answerList[0]}}">
          <input readonly type="text" value="{{quiz.answerList[1]}}">
        </div>
        <div class="ui input" style="display:block;text-align:center;margin-top:5px">
          <input readonly type="text" value="{{quiz.answerList[2]}}">
          <input readonly type="text" value="{{quiz.answerList[3]}}">
        </div>
      </div>
      <div class="sentence-answer" *ngIf="quiz.type == eQuizType.SENTENCE_QUIZ">
        <div class="ui input">
          <input class="correct" readonly type="text" value="{{quiz.correctAnswer}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="postcontent"></div>
<div id="bottom_button">
  <div>
    <button [@expandBottomButton]="expandBottomButton" (click)="toggleBottomButtons()" class="circular ui icon button toggle aqua-back">
        <i class="icon toggle"></i>
      </button>
    <button [@expandBottomButton-addQuiz]="expandBottomButton" (click)="modalAddQuiz()" class="circular ui icon button aqua-back">
      <i class="icon add-quiz"></i>
      </button>
    <button *ngIf="countOfCheckedQuiz != 0" [@expandBottomButton-delQuiz]="expandBottomButton" (click)="modalDelQuiz()" class="circular ui icon button grey-back">
        <i class="icon del-quiz"></i>
      </button>
    <button *ngIf="countOfCheckedQuiz != 0" [@expandBottomButton-shareQuiz]="expandBottomButton" (click)="modalShareQuiz()" class="circular ui icon button grey-back">
        <i class="icon share-quiz"></i>
      </button>
  </div>
</div>
<popup-add-quiz (ok)="addQuiz($event)"></popup-add-quiz>
<popup-del-quiz (ok)="delCheckedQuiz()"></popup-del-quiz>
<popup-share-quiz (ok)="shareQuiz($event)"></popup-share-quiz>
