@import '../../../variables';
div {
  //min-height: 500px;
  text-align: center;
  #popup-text {
    position: relative;
    height: 24px;
    font-family: "NotoSansCJKkr";
    font-size: 16px;
    font-weight: bold;
    top: 8px;
    margin-left: 8px;
    color: #dedede;
    text-align: left;
  }
  #share-quiz-field {
    text-align: center;
    .write-title {
      width: 95%;
      margin-top: 16px;
      height: 40px;
    }
    .segment {
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 8px;
      margin-bottom: 8px;
      height: 48px;
      border-radius: 4px;
      border: solid 1px #dedede;
      text-align: left;
      overflow: hidden;
      label {
        &::after {
          color: #1ddbc9;
        }
        white-space: nowrap;
      }
    }
  }
  #actions {
    text-align: center;
    background-color: white;
    border-top: 0;
    button {
      width: 95%;
      max-width: 321px;
      height: 48px;
    }
  }
}
