#content {
  p#text1 {
    margin-top: 72px;
    margin-bottom: 100px;
    font-family: "SpoqaHanSans";
    font-size: 16px;
    text-align: center;
    color: #1c2b58;
  }
  img {
    width: 299px;
    height: 202px;
    margin: auto;
  }
  button.facebook {
    margin-top: -12px;
    width: 321px;
    height: 48px;
    border-radius: 59px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    font-family: "SpoqaHanSans";
    font-weight: bold;
  }
}
