@import '../../../variables';
#content {
  p.title {
    font-family: "SpoqaHanSans";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
  }
  img.title {
    width: 176px;
    height: 101px;
  }
  table {
    width: 95%;
    margin: auto;
    td {
      height: 43px;
      &.rank {
        font-family: "SpoqaHanSans";
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #9e9e9e;
        img {
          width: 41px;
          height: 41px;
        }
      }
      &.nickname {
        font-family: "SpoqaHanSans";
        font-size: 18px;
        text-align: left;
        color: #393c40;
        overflow: hidden;
      }
      &.score {
        padding-right: 1em;
        font-family: "SpoqaHanSans";
        font-size: 14px;
        text-align: right;
        color: #9e9e9e;
      }
      &.time {
        padding-right: 1em;
        font-family: "SpoqaHanSans";
        font-size: 14px;
        text-align: right;
        color: #9e9e9e;
      }
    }
  }
  button {
    width: 95%;
    height: 48px;
    font-family: "SpoqaHanSans";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background-image: linear-gradient(262deg, $aqua-marine, $aqua);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
