<div id="{{id}}" class="ui modal">
  <i class="close icon"></i>
  <div class="ui form">
    <div id="popup-text">
      <p>퀴즈공유 완료</p>
    </div>
    <p id="paragraph1">
      퀴즈가 생성되었습니다.
    </p>
    <div class="ui raised segment">
      {{ title }}
    </div>
    <div class="ui raised segment">
      {{ "http://exquiz.me/?myquizurl" }}
    </div>
  </div>

  <p id="paragraph2">
    한시간 동안 친구들과 문제를 즐겨보세요!
  </p>
  <img src="/assets/character_2.png">
  <div id="actions" class="actions">
    <button class="ui greeny-blue button ok">링크복사</button>
  </div>
</div>
