// global scss content
@import './variables';

html {
  background-color: gray;
  height: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  height: auto;
  min-height: 100%;
}

#precontent {
  padding-top: 4rem;
}

#postcontent {
  padding-bottom: 8px;
}

#content {
  text-align: center;
}

button {
  outline: 0;
  border: none;
}

button.ui.greeny-blue.button {
  border-radius: 5px;
  background-image: linear-gradient(262deg, $aqua-marine, $aqua);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: "NotoSansCJKkr";
  font-size: 12px;
  text-align: center;
  color: white;
}
